USE [project depi]
GO
/****** Object:  Table [dbo].[dim_location]    Script Date: 4/15/2026 7:00:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_location](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[location_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_listings]    Script Date: 4/15/2026 7:00:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_listings](
	[listing_id] [int] IDENTITY(1,1) NOT NULL,
	[price] [decimal](18, 2) NULL,
	[area] [decimal](18, 2) NULL,
	[rooms] [int] NULL,
	[bathrooms] [int] NULL,
	[year_built] [smallint] NULL,
	[decade_built] [varchar](50) NULL,
	[property_status] [varchar](50) NULL,
	[location_id] [int] NOT NULL,
	[seller_id] [int] NOT NULL,
	[payment_id] [int] NOT NULL,
	[finishing_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[listing_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_location_summary]    Script Date: 4/15/2026 7:00:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_location_summary] AS
SELECT 
    l.location_name,
    AVG(f.price) AS avg_price,
    MIN(f.price) AS min_price,
    MAX(f.price) AS max_price
FROM fact_listings f
JOIN dim_location l ON f.location_id = l.location_id
GROUP BY l.location_name;
GO
/****** Object:  Table [dbo].[dim_finishing]    Script Date: 4/15/2026 7:00:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_finishing](
	[finishing_id] [int] IDENTITY(1,1) NOT NULL,
	[finishing_level] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[finishing_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_finishing_impact]    Script Date: 4/15/2026 7:00:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_finishing_impact] AS
SELECT 
    f.finishing_level,
    AVG(fl.price) AS avg_price
FROM fact_listings fl
JOIN dim_finishing f 
    ON fl.finishing_id = f.finishing_id
GROUP BY f.finishing_level;
GO
/****** Object:  Table [dbo].[dim_seller]    Script Date: 4/15/2026 7:00:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_seller](
	[seller_id] [int] IDENTITY(1,1) NOT NULL,
	[seller_type] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[seller_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_seller_comparison]    Script Date: 4/15/2026 7:00:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_seller_comparison] AS
SELECT 
    s.seller_type,
    AVG(f.price) AS avg_price,
    COUNT(*) AS total_listings
FROM fact_listings f
JOIN dim_seller s 
    ON f.seller_id = s.seller_id
GROUP BY s.seller_type;
GO
/****** Object:  View [dbo].[vw_price_tier_breakdown]    Script Date: 4/15/2026 7:00:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_price_tier_breakdown] AS
SELECT 
    CASE 
        WHEN price < 1000000 THEN 'Budget'
        WHEN price BETWEEN 1000000 AND 3000000 THEN 'Mid'
        WHEN price BETWEEN 3000000 AND 6000000 THEN 'Premium'
        ELSE 'Luxury'
    END AS price_category,
    COUNT(*) AS total_listings
FROM fact_listings
GROUP BY 
    CASE 
        WHEN price < 1000000 THEN 'Budget'
        WHEN price BETWEEN 1000000 AND 3000000 THEN 'Mid'
        WHEN price BETWEEN 3000000 AND 6000000 THEN 'Premium'
        ELSE 'Luxury'
    END;
GO
/****** Object:  View [dbo].[vw_offplan_vs_ready]    Script Date: 4/15/2026 7:00:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_offplan_vs_ready] AS
SELECT 
    property_status,
    COUNT(*) AS total_listings,
    AVG(price) AS avg_price
FROM fact_listings
GROUP BY property_status;
GO
/****** Object:  View [dbo].[vw_decade_trend]    Script Date: 4/15/2026 7:00:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_decade_trend] AS
SELECT 
    decade_built,
    AVG(price) AS avg_price,
    COUNT(*) AS total_listings
FROM fact_listings
GROUP BY decade_built;
GO
/****** Object:  Table [dbo].[dim_payment]    Script Date: 4/15/2026 7:00:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_method] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_listings_full]    Script Date: 4/15/2026 7:00:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_listings_full] AS
SELECT 
    f.listing_id,
    f.price,
    f.area,
    f.rooms,
    f.bathrooms,
    f.year_built,
    f.decade_built,
    f.property_status,

    l.location_name,
    s.seller_type,
    p.payment_method,
    fi.finishing_level

FROM fact_listings f

LEFT JOIN dim_location l 
    ON f.location_id = l.location_id

LEFT JOIN dim_seller s 
    ON f.seller_id = s.seller_id

LEFT JOIN dim_payment p 
    ON f.payment_id = p.payment_id

LEFT JOIN dim_finishing fi 
    ON f.finishing_id = fi.finishing_id;
GO
/****** Object:  Table [dbo].[raw_data]    Script Date: 4/15/2026 7:00:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[raw_data](
	[Location] [varchar](255) NOT NULL,
	[Seller_Type] [varchar](100) NOT NULL,
	[Payment_Method] [varchar](100) NOT NULL,
	[Finishing_Level] [varchar](100) NOT NULL,
	[Price_Numeric] [decimal](18, 2) NULL,
	[Area] [decimal](18, 2) NULL,
	[Rooms] [int] NULL,
	[Bathrooms] [int] NULL,
	[Year_Built] [int] NULL,
	[Decade_Built] [varchar](50) NULL,
	[Property_Status] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fact_listings]  WITH CHECK ADD FOREIGN KEY([finishing_id])
REFERENCES [dbo].[dim_finishing] ([finishing_id])
GO
ALTER TABLE [dbo].[fact_listings]  WITH CHECK ADD FOREIGN KEY([location_id])
REFERENCES [dbo].[dim_location] ([location_id])
GO
ALTER TABLE [dbo].[fact_listings]  WITH CHECK ADD FOREIGN KEY([payment_id])
REFERENCES [dbo].[dim_payment] ([payment_id])
GO
ALTER TABLE [dbo].[fact_listings]  WITH CHECK ADD FOREIGN KEY([seller_id])
REFERENCES [dbo].[dim_seller] ([seller_id])
GO

